<footer class="footer">
  <div class="footer-content">
    <div class="footer-section">
      <h4>Contáctanos</h4>
      <p>Email: ventasmosquera@royalenfield.com.co</p>
      <p>Tel: +57 (601) 825-1958</p>
      <p>WhatsApp: +57 315 785-9632</p>
      <p>Dirección: Calle 13 #4-53<br>Centro Comercial Sabana, Local 123<br>Mosquera, Cundinamarca</p>
      <p>Horario: Lun-Vie 9:00-18:30<br>Sáb 9:00-17:00<br>Dom/Fest 10:00-16:00</p>
    </div>
    
    <div class="footer-section">
      <h4>Quick Links</h4>
      <ul>
        <li><a href="#motorcycles">Nuestras motos</a></li>
        <li><a href="#service">Servicio</a></li>
        <li><a href="#accessories">Accesorios</a></li>
        <li><a href="#apparel">Ropa</a></li>
      </ul>
    </div>
    
    <div class="footer-section">
      <h4>Follow Us</h4>
      <div class="social-links">
        <a href="#" class="social-link">Facebook</a>
        <a href="#" class="social-link">Instagram</a>
        <a href="#" class="social-link">Twitter</a>
        <a href="#" class="social-link">YouTube</a>
      </div>
    </div>
  </div>
  
  <div class="footer-bottom">
    <p>&copy; 2025 Royal Enfield. All rights reserved.</p>
  </div>
</footer>
